<table class="table">
    <tr>
        <th></th>
        <th *ngFor="let col of columns" (click)="col.sortOrder=!col.sortOrder;sort(col.name, col.sortOrder)">{{col.label}}
        <span class="glyphicon glyphicon" [ngClass]="(col.sortOrder==true)?'glyphicon-menu-up':'glyphicon-menu-down'" 
            aria-hidden="true"></span>
        </th>
    </tr>
    <tbody>
        <tr *ngFor="let l of data" id="row-{{l._internal_id}}"  
        [ngClass]="selectedElement==l._internal_id ? 'bg-primary': ''" >
        <td><button type="button" name="button"  class="btn btn-primary" (click)="zoomToMap(l._internal_id)">Zoom</button></td>
        <td *ngFor="let col of columns">{{l[col.name]}}</td>
        </tr>
    </tbody>
</table>
<input (change)="refreshDataTable()" [(ngModel)]="page.size" type=text/>
<nav aria-label="Page navigation">
    <ul class="pagination">
    <li>
        <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        </a>
    </li>
    <li *ngFor="let int of range(page.pages)" (click)="goToPage(int-1);" [class.active]="int==page.pageNumber+1"><a href="#">{{int}}</a></li>
    <li>
        <a (click)="pageUp();" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
    </ul>
</nav>